In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df=pd.read_csv('/content/Task 3 and 4_Loan_Data.csv')
print(df.head(3))

   customer_id  credit_lines_outstanding  loan_amt_outstanding  \
0      8153374                         0           5221.545193
1      7442532                         5           1958.928726
2      2256073                         0           3363.009259

   total_debt_outstanding       income  years_employed  fico_score  default
0             3915.471226  78039.38546               5         605        0
1             8228.752520  26648.43525               2         572        1
2             2027.830850  65866.71246               4         602        0

In [ ]:
#  delet customer-id column it is not  useful  variable for prediction model

del df['customer_id']
print(df.head(3))

   credit_lines_outstanding  loan_amt_outstanding  total_debt_outstanding  \
0                         0           5221.545193             3915.471226
1                         5           1958.928726             8228.752520
2                         0           3363.009259             2027.830850

        income  years_employed  fico_score  default
0  78039.38546               5         605        0
1  26648.43525               2         572        1
2  65866.71246               4         602        0

In [ ]:
df.dtypes

credit_lines_outstanding      int64
loan_amt_outstanding        float64
total_debt_outstanding      float64
income                      float64
years_employed                int64
fico_score                    int64
default                       int64
dtype: object

In [ ]:
#  how many rows and column in data

df.shape

(10000, 7)

In [ ]:
#logistic model develope for Bank default prediction
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix


# Feature selection (replace with actual relevant features)
X = df.drop('default', axis=1)
y = df['default']


# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


# Model training
model = LogisticRegression()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test,y_pred)
print(f"Accuracy: {accuracy}")
print(classification_report(y_test,y_pred))
print(confusion_matrix(y_test,y_pred))
# Check for loss situation
if sum(y_pred == 0) > sum(y_pred == 1):
    print("Loss situation: Save reserves")
else:
    print("Good situation: Loan return")

Accuracy: 0.989
              precision    recall  f1-score   support

           0       0.99      1.00      0.99      1652
           1       0.99      0.95      0.97       348

    accuracy                           0.99      2000
   macro avg       0.99      0.97      0.98      2000
weighted avg       0.99      0.99      0.99      2000

[[1647    5]
 [  17  331]]
Loss situation: Save reserves

/usr/local/lib/python3.11/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(